body{
    background-color: rgba(244, 240, 238, 1);
  }
  .packages {
    margin: 20px;
    height: auto;
    width: 300px;
    font-family: 'Wavehaus';
    font-weight: 600;
    padding: 1.5em;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgb(255 255 255), 0 15px 12px rgb(146 146 146 / 20%);
    flex-wrap: wrap;
    color: #080808;
  }
  .list li {
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    border-bottom: 1px solid #f4f4f4;
    padding-inline-start: 0;
    border-width: 1px;
    padding: 10px;
  }
  .first {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
  }
  .list {
      width: 100%;
      display: contents;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input,
  label {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }
  .button {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.4em;
    margin: 15px 15px;
    border-radius: 50px;
    color: #f4f4f4;
  }
  .pricing-button {
    color: white;
    background-color: black;
    font-family: 'Wavehaus';
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    padding: 15px 40px 15px 40px;
    width: auto;
    height: auto;
    border-radius: 50px;
  }
  .pricing-button:hover {
    color: white;
    background-color: rgb(32, 32, 32);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e2321;
    -webkit-transition: 0.4s;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: #50bfe6;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #50bfe6;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .package-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pricing-title {
    font-size: 27px;
  }
  .pricing-head {
    font-family: 'Wavehaus';
    font-weight: 900;
    font-size: 25px;
  }
  
  .text1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Wavehaus';
    font-weight: 800;
    font-size: 20px;
  }
  .text2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Wavehaus';
    font-weight: 800;
    font-size: 20px;
  }