.headingservice h1{
    color: blue;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}
.headingservice h1 span{
    color: black;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .headingservice h1, .headingservice h1 span{
        font-size: 2rem;
    }
}